/* Styles for the register page */

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-y: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4rem; /* Un valor más razonable para espacio superior */
  box-sizing: border-box;
}
.register-container h1 {
  margin-bottom: 1.5rem;
}

form {
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
}

form h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

form button {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--primary-hover-color);
}
