<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Salud Conectada</title>
    <link rel="stylesheet" href="/static/styles/base.css" />
    <link rel="stylesheet" href="/static/styles/navbar.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/static/img/logo.png" alt="Logo de Salud Conectada" />
        <h1>Salud Conectada</h1>
      </div>

      <div class="user-info">
        {% if user.is_authenticated %} Hola,
        {{user.first_name|default:user.username }} ({{ user.get_role_display }})
        {% endif %}
      </div>

      <div class="messages">
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <img src="/static/img/mensajes.png" alt="No hay mensajes" />
        <span>No hay mensajes</span>
        {% endif %}
      </div>

      <nav>
        {% if user.is_authenticated %}
        <button onclick="location.href='{% url 'accounts:home' %}'">
          Inicio
        </button>
        <button onclick="location.href='{% url 'accounts:logout' %}'">
          Cerrar sesión
        </button>
        {% else %}
        <button onclick="location.href='{% url 'accounts:login' %}'">
          Iniciar sesión
        </button>
        <button onclick="location.href='{% url 'accounts:register' %}'">
          Registrarse
        </button>
        {% endif %}
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
