{% extends "base.html" %}

{% block content %}
  <h2>Página de inicio</h2>

  {% if user.is_authenticated %}
    <p>Estás autenticado como <strong>{{ user.get_role_display }}</strong>.</p>

    {% if user.role == "PATIENT" %}
      <p><a href="{% url 'dashboard:patient_dashboard' %}">Ir a mi panel de paciente</a></p>
    {% elif user.role == "DOCTOR" %}
      <p><a href="{% url 'dashboard:doctor_dashboard' %}">Ir a mi panel de médico</a></p>
    {% elif user.role == "ADMIN" %}
      <p><a href="{% url 'dashboard:admin_dashboard' %}">Ir al panel de administrador</a></p>
    {% endif %}

  {% else %}
    <p>Para usar la plataforma, inicia sesión o regístrate como paciente.</p>
  {% endif %}
{% endblock %}
