/* Styles for the top navigation bar */
header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 1rem; /* Reduced padding for smaller header */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 40px; /* Adjust logo size */
  margin-right: 0.5rem;
}

header .user-info {
  margin-right: auto;
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--white-color);
}

header .messages {
  margin-right: auto;
  padding-left: 1rem;
}

header .messages img {
  height: 40px;
  opacity: 0.5;
}

header nav {
  display: flex;
  gap: 0.5rem;
}

header nav button {
  display: inline-block;
  background-color: var(--white-color);
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-left: 0.5rem;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.header-left-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 0; 
}

.nav-center {
    display: flex; 
    gap: 15px;
    align-items: center;
    margin: 0 auto; 
    font-size: 1.1em;
    cursor: pointer;
}

.nav-center .nav-link{
    color: var(--white-color);
}

.nav-center .nav-link:hover {
    text-decoration: none;
    transform: scale(1.03);
    position: relative;
} 

header nav button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}


.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}


.nav-left {
    display: flex;
    gap: 10px;
}

.nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}